<h2 class="mt-3">Eventos</h2>
<hr />

<form class="row g-3" (ngSubmit)="filterUsers()">
  <div class="col-auto">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar"
      [(ngModel)]="listFilter"
      name="listFilter"
    />
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-outline-success">Buscar</button>
  </div>
</form>

<!-- <h3>Filtro: {{ listFilter }}</h3> -->
<table class="table table-striped my-3">
  <thead class="table-dark">
    <tr>
      <th>ID Usuário</th>
      <th>Nome</th>
      <th>Email</th>
      <th>ID Evento</th>
      <th>Nome do Evento</th>
      <th>Início do Evento</th>
      <th>Término do Evento</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let user of users">
      <tr *ngFor="let event of user.events; let i = index">
        <td *ngIf="i === 0" [attr.rowspan]="user.events.length">
          {{ user.id }}
        </td>
        <td *ngIf="i === 0" [attr.rowspan]="user.events.length">
          {{ user.name }}
        </td>
        <td
          *ngIf="i === 0"
          [attr.rowspan]="user.events.length"
          class="border-right"
        >
          {{ user.email }}
        </td>
        <td>{{ event.id }}</td>
        <td>{{ event.eventName }}</td>
        <td>{{ event.startDate | dateTimeFormatPipe }}</td>
        <td>{{ event.endDate | dateTimeFormatPipe }}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm mx-2">
            <i class="fa fa-edit"></i>
            Editar
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i>
            Excluir
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot>
    <tr *ngIf="noEventsFound">
      <td colspan="7" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
